@charset "uft-8";

/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
    display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
    margin: 0px;
    padding: 0px;
    border: 0;
    font-size: 100%;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}


/* Set the default page element styles */

body {
    line-height: 1.2em;
}

ul, ol {
    list-style: none;
}

nav ul {
    list-style: none;
    list-style-image: none;
}
/* Main Styles */

nav {
    background-color: #ECB378; 
    height: 40px; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    position: fixed; 
    justify-content: space-around; 

    border-bottom-style: solid; 
    border-bottom-color: #55250F; 
    border-bottom-width: 5px; 
}

nav a {
    color: #55250F; 
    text-align: center;
    line-height: 35px;
    flex: 33.33%;
    transition: color 0.5s, background-color 0.5s;
    font-family: 'Kaisei Decol', serif; 
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
    background-color: #d8a267; 
}

#banner {
    max-width: 100%;
    border-bottom-style: solid;  
    border-bottom-color: #55250F;  
    border-bottom-width: 5px;  
}

.welcomeTitle {
    text-align: center;
    font-family: 'Aboreto', cursive;
    padding-top: 60px;
    font-size: 50px;
    color:#55250F;
}

#welcome.welcomeTitle {
    font-family: 'Sassy Frass', cursive;
    font-size: 100px;
}

hr {
    margin-top: 50px;
    width: 50%;
}


/* Footer Styles */

footer {
    background-color: #ECB378; 
    height: 80px; 
    width: 100%; 

    border-top-style: solid; 
    border-top-color: #55250F; 
    border-top-width: 5px; 

    border-bottom-style: solid; 
    border-bottom-color: #55250F; 
    border-bottom-width: 5px; 
}

footer p {
    text-align: center;
    font-size: 12px;
    line-height: 37.5px;
    font-family: 'Kaisei Decol', serif; 
}

#meatTypes {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    display: flex; 
    align-items: center; 
    justify-content: space-around; 
}

.meatType {
    max-width: 33%;
}

#pageTitle {
    font-size: 30px;
    text-align: center;
    font-family: 'Aboreto', cursive;
    color:#55250F;
}

#pageBreak {
    width:45%;
    border-width: 2px;
    border-color:#55250F;
}